.admin-users-section {
  padding: 20px;
}

.admin-container {
  margin-bottom: 20px;
}

.admin-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  font-size: 30px;
  font-weight: 600px;
}

.admin-users table {
  width: 100%;
  height: 60vh;
  /* border-collapse: collapse; */
  border-radius: 20px;
color: rgb(46, 41, 41);

}

.admin-users th,
.admin-users td {
  padding: 8px 12px;
  border: 1px solid #dddddd78;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.admin-users th {
  background-color: #f6a4526c;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px;
}

.admin-users td {
  text-align: left;
  margin: 10px 10px;
  padding: 5px 25px;
  font-size: 18px;

}

.admin-users tbody tr:nth-child(even) {
  background-color: #f1b84636;
  font-size: 18px;
}

.admin-users tbody tr:hover {
  background-color: #fdcfbe90;
  font-size: 18px;

}

.admin-users a {
  /* color: #007bff; */
  text-decoration: none;
}


/* //Update page code */

/* Adminuser.css */

.updateform {
  width: 100vh;
  height: 30vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgba(146, 127, 127, 0.144);
}

.updateform h2 {
  margin-bottom: 20px;
  text-align: center;
}

.updateform form {
  display: flex;
  flex-direction: column;
}

.updateform form div {
  margin-bottom: 15px;
}

.updateform form label {
  font-weight: bold;
}

.updateform form input[type="text"],
.updateform form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.updateform form button[type="submit"] {
  padding: 10px 20px;
  background-color: #e77422;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.updateform form button[type="submit"]:hover {
  background-color: #954226;
}

/* contact page css */

/* AdminContacts.css */

.admin-contact-section {
  width: 800px;
  /* margin: 10px 10px; */
}

.admin-contact-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-contact-section .contact-table {
  width: 150vh;
  /* border-collapse: collapse; */
  border-radius: 20px;
  height: 56vh;

}

/* .contact-table th, .contact-table td {
  border-radius: 20px;
  padding: 8px;
  text-align: left;

} */

.contact-table th {
  background-color: #f6a4526c;
  border-radius: 10px;
  /* width: 50px; */
  height: 40px;
}
.contact-table td {
  width: 100vw;
  border: 1px solid #bc913b36;
  border-radius: 10px;
  padding: 0px 12px;

}
.navlink{
  text-align: center;
  /* background-color: #f1a74675; */
  text-decoration: none;
  color: #1b1919;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-link {
  text-align: center;
  background-color: #f1a746;
  text-decoration: none;
  color: #1f1d1d;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn{
  text-align: center;
}
.delete-link:hover {
  background-color: #e4ae70a7;
}.navlink:hover {
  background-color: #e4ae70a7;
}

.section-about{
  border-radius: 10px;
  /* margin: ; */
  width: 1300px;
  /* width: 140px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about{
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  /* margin: 20px; */
  /* padding: 15px; */

  margin-bottom: 200px;
  justify-content:first baseline;
}
.about p{
  /* padding: 15px; */
  margin-top: 25px;
}